h1 {
    color: #6b6b6b;
    margin-top: 10vh;
    text-align: center;
}


span {
    font-size: 18px;
    color: #6b6b6b;
}

.container {
    display: flex;
    justify-content: center; /* Alinha os pacotes horizontalmente ao centro */
    align-items: center; 
    
}

.destaques h2{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    color: #6b6969;
    margin-bottom: 10vh;
    text-align: center;
    margin-top: 6vh;

}
.box-pacotes {
    display: flex;
    flex-wrap: wrap; /* Permite que os pacotes quebrem para a próxima linha quando não couberem mais na largura do contêiner */
    justify-content: space-between; /* Espaçamento igual entre os pacotes e no meio */
    padding: 0 20px;
 
}

.box {
    width: 40%;
    margin-bottom: 30px; /* Adiciona espaço entre as linhas de pacotes */
    text-align: center; /* Alinha o texto centralmente dentro do box */
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fff;
}

.box img{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.box h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: #6b6969;
    margin: 10px 0;
}
.box p {
    font-family: 'Poppins', sans-serif;
    font-size: 14.6px;
    color: #6b6969;
    margin: 10px 0;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    text-align: left;
    color: #706f6fa5;
}
.box hr{
    width: 50%;
    margin: 10px auto;
}

.box button{
    padding: 7px 10px;
    border: 1px solid #aeacac;
    background-color: #fff;
    margin-bottom: 15px;
}

.box button:hover{
    background-color: #d3d3d3;
    color: white;
    transition: 1s;
}
.box button a {
    text-decoration: none;
    color: #6b6969;
    font-family: "Poppins", sans-serif;

}

.btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
}
